.rs-popover {
    position: absolute;
    min-width: 100px;
    max-width: 220px;
    z-index: 17;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s;
    &.active {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
        display: flex;
        flex-direction: column;
        border: 1px solid #F1F1F1;
        padding: 15px;
        border-radius: 2px;
        z-index: 100;
        background: white;
        box-shadow: 3px 3px 5px #BFBDBD;
    }
    >.se-emoji-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.se-emoji-option {
    margin: 0px 4px;
    padding: 3px;
}

.se-emoji-option:hover {
    box-shadow: $box-shadow-hover;
}

.rs-button-container {
    display: flex;
}

h6,
input,
.rs-button-container {
    display: block;
    margin: $modal-entity-padding;
    font-family: $primary-font-family;
    font-weight: $primary-font-weight;
}