@import 'layout/sidebar';
@import 'layout/header';
.app__container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background: #eee;
    height: 100%;
    min-height: 800px;
    .header {
        height: 50px;
        background: darkgoldenrod;
        top: 0;
        width: 100%;
        padding-top: 0px;
        h2 {
            margin-top: 0px;
        }
    }
    img {
        max-width: 100%;
        max-height: 20em;
    }
    .sidebar__container,
    .main__container {
        padding: 10px;
    }
    .main__container {
        min-height: 100vh;
        margin-left: 220px;
        .editor__wrapper {
            background-color: white;
            min-height: 88vh;
            padding: 15px;
            border: 1px solid #ddd;
        }
    }
    .sidebar__container {
        min-height: 100vh;
        width: 200px;
        float: left;
        height: 100%;
    }
    &.right-nav {
        .sidebar__container {
            float: right;
        }
        .main__container {
            margin-left: 0;
            margin-right: 275px;
            border-left: none;
            border-right: 2px solid #333;
            min-width: 600px;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}